<div class="p-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-1">About</h1>
      </div>
    </div>
  </div>
</div>
<div class="p-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">The Project</h1>
      </div>
    </div>
  </div>
</div>
<div class="py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-info">
        <p class="lead">The Enforcer App was devised and created by a team of students from Kennesaw State University for the Spring 2018 Senior Project Course. The intent and purpose of the app is to provide university parking staff with rapid information and robust
          tools. These tools help with the difficult task of managing access to university parking areas. &nbsp;</p>
      </div>
    </div>
  </div>
</div>
<div class="p-0 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-light">
        <p class="">The app accomplishes these goals by leveraging smart design and cutting-edge image recognition technology. A small and affordable computer with an internet-enabled camera is used to scan the entrance of a parking lot. When a license plate is
          recognized, it is verified against a database of registered vehicles for that lot. If it is not registered to park there, it is flagged as invalid and the enforcer dashboard is updated. This process is nearly instantaneous and can be used
          to provide up-to-the-minute campus parking information. &nbsp;</p>
      </div>
    </div>
  </div>
</div>
<div class="p-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">The Team</h1>
      </div>
    </div>
  </div>
</div>
<div class="p-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="list-group">
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Dominic Ajagba</h5>
              <small>Team Leader</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta.</small>
          </div>
          <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Chris Nelson</h5>
              <small class="text-muted">Scribe, Documentarian, Demo Creation, Miscellaneous</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Gregory&nbsp;</h5>
            <small class="text-muted">Front end design and development</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </div>
        <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Jacques Farris</h5>
            <small class="text-muted">Database Design and Development</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Zack Baker</h5>
            <small class="text-muted">Back end design, management, and implementation</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </div>
      </div>
    </div>
  </div>
</div>