<!--The content below is only a placeholder and can be replaced.-->
<!-- <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Sign in</a></li>
        <li *ngIf="auth.isLoggedIn()"><a routerLink="/profile">{{ auth.getUserDetails()?.name }}</a></li>
        <li *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></li>
        </ul> -->

        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a class="navbar-brand d-none d-sm-block " routerLink="" routerLinkActive="active" style="display: inline-block;" id="navbar3SupportedContent" [ngbCollapse]="isCollapsed">
                        <img src="assets\homeicon.png" style="margin-bottom: 5px;">
                        <span style="display: inline-block;">Home</span>
                      </a>
                      <a class="navbar-brand d-none d-sm-block" *ngIf="auth.isLoggedIn()" routerLink="/dashboard" style="display: inline-block;"><i class="fa fa-car" style="font-size:48px;color:white; margin-bottom: 5px;"></i>Dashboard</a>
                <div class="container-fluid">
                  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button> -->
                  <button class="navbar-toggler btn btn-outline-primary " type="button" data-toggle="collapse" data-target="#navbar3SupportedContent"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar3SupportedContent">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                
                  <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent" [ngbCollapse]="isCollapsed">
                    <ul class="navbar-nav">
                        <button class="link ">
                            <li class="nav-item d-block d-sm-none nav-link "  >
                                    <a class="nav-link" routerLink="" >Home</a>
                            </li>
                        </button>
                      <li class="nav-item">
                        <a class="nav-link" href="https://kennesaw.t2hosted.com/cmn/auth_ext.aspx">KSU Parking Portal</a>
                      </li>
                      <li class="nav-item"><a class="btn navbar-btn ml-2 text-white btn-dark" *ngIf="auth.isLoggedIn()" routerLink="/profile" ><i class="fa d-inline fa-lg fa-user-circle-o"></i>{{ auth.getUserDetails()?.firstName }} {{ auth.getUserDetails()?.lastName }}</a></li>
                      <li class="nav-item"> <a class="ml-5 btn navbar-btn btn-primary d-none d-sm-block" routerLink="login" *ngIf="!auth.isLoggedIn()">Login</a>
                         <a class="ml-5 btn navbar-btn btn-primary d-none d-sm-block" routerLink="login" (click)="auth.logout()" *ngIf="auth.isLoggedIn()">Logout</a></li>
                    </ul>
                  </div>
                  
                </div>
              </nav>
<router-outlet></router-outlet>
