<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container"> <i class="fa d-inline fa-lg fa-car"></i><b>&nbsp;Parking Enforcer Dashboard</b>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <a class="btn navbar-btn ml-2 text-white btn-dark"><i class="fa d-inline fa-lg fa-user-circle-o"></i>John Doe</a>
      </div>
    </div>
  </nav>



  <div class="container-full bg-secondary ">
      <div class="bg-secondary py-3">
          <div class="container">
              <div class="row">
                  <h3 class="text-dark">Kennesaw Campus</h3>
                  <div class="col-md-12">

                  </div>
                </div>
                <div class="row">
                    <h3 class="text-dark">Marietta Campus</h3>
                    <div class="col-md-12">
  
                    </div>
                  </div>
                </div>
                </div>

  </div> 