<div class="container-full bg-secondary ">
        <div class="bg-secondary py-3">
            <div class="container">
                <div class="row">
                    <h3 class="text-dark">Kennesaw Campus</h3>
                    <div class="col-md-12">
                                        
<!--Accordion wrapper-->
<div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

        <!-- Accordion card -->
        <div class="card">
    
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="mb-0">
                        West Deck <i class="fa fa-angle-down rotate-icon"></i>
                    </h5>
                </a>
            </div>
    
            <!-- Card body -->
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
                <div class="card-body">
                        <table datatable class="row-border hover" >
                                <thead>
                                  <tr>
                                    <th>Plates</th>
                                    <th>Time Entered</th>
                                    <th>Registered</th>
                                    <th>Ticketed</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let status of AllStatus">
                                    <td>{{ status.plate }}</td>
                                    <td>{{ status.time }}</td>
                                    <td>{{ status.registered }}</td>
                                    <td>{{ status.ticketed }}</td>
                                  </tr>
                                  
                                </tbody>
                                </table>
                </div>
            </div>
        </div>
        <!-- Accordion card -->
    
        <!-- Accordion card -->
        <div class="card">
    
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingTwo">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h5 class="mb-0">
                        Central Deck <i class="fa fa-angle-down rotate-icon"></i>
                    </h5>
                </a>
            </div>
    
            <!-- Card body -->
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
                <div class="card-body">

                </div>
            </div>
        </div>
        <!-- Accordion card -->
        
        <!-- Accordion card -->
        <div class="card">
    
            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h5 class="mb-0">
                        Faculty Lot A<i class="fa fa-angle-down rotate-icon"></i>
                    </h5>
                </a>
            </div>
    
            <!-- Card body -->
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
                <div class="card-body">

                </div>
            </div>
        </div>
        <!-- Accordion card -->
        <div class="row">
                <h3 class="text-dark">Marietta Campus</h3>
                <div class="col-md-12">
                    <!-- Accordion card -->
        <div class="card">
    
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingFour">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <h5 class="mb-0">
                            Central Parking Lot<i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>
        
                <!-- Card body -->
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionEx">
                    <div class="card-body">
    
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
        <div class="card">
    
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingFive">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <h5 class="mb-0">
                            East Economy<i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>
        
                <!-- Card body -->
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionEx">
                    <div class="card-body">
    
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
        <div class="card">
    
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingSix">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <h5 class="mb-0">
                            Resident Parking<i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>
        
                <!-- Card body -->
                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordionEx">
                    <div class="card-body">
    
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
        <div class="card">
    
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingSeven">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <h5 class="mb-0">
                            West Parking<i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>
        
                <!-- Card body -->
                <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordionEx">
                    <div class="card-body">
    
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
                </div>
            </div>
    </div>
    <!--/.Accordion wrapper-->
                    
                        </div>
                    </div>
    
      </div> 
      </div>
      </div>