  <div class="container-full bg-secondary ">
      <div class="bg-secondary py-3">
          <div class="container">
              <div class="row">
                  <h3 class="text-dark">Kennesaw Campus</h3>
                  <div class="col-md-12">

                  </div>
                </div>
                <div class="row">
                    <h3 class="text-dark">Marietta Campus</h3>
                    <div class="col-md-12">
  
                    </div>
                  </div>
                </div>
                </div>

  </div> 